* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  padding-top: 10vh;
}

.header {
  display: flex;
  width: 100vw;
  height: 10vh;
  background-color: mediumslateblue;
  align-items: center;
  padding: 5px 15px;
  justify-content: space-between;
  position: fixed;
  top: 0;
}

.nav-bar {
  display: flex;
  height: 100%;
  align-items: center;
}

.nav-item {
  margin-left: 10px;
}

@media (max-width: 900px) {
  .header {
    background-color: tomato;
  }

  .nav-item {
    font-size: 32px;
  }
}

.hamburger {
  height: 80%;
  display: none;
}

.mobile-nav {
  position: absolute;
  top: 10vh;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: rebeccapurple;
  justify-content: space-evenly;
  padding: 15px;
  overflow: hidden;
  transition: all 100ms;
  z-index: 1;
}

.mobile-nav-hide {
  height: 0;
  padding: 0;
  opacity: 0;
}

.red-box {
  background-color: red;
  height: 300px;
  width: 300px;
  animation: color-change;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@media (min-width: 1200px) {
  .header {
    background-color: rgb(17, 187, 102);
  }
}

@media (max-width: 500px) {
  .nav-bar {
    display: none;
  }

  .hamburger {
    display: inline-block;
  }

  h1 {
    font-size: 16px;
  }
}

@keyframes rotate {
  from {
    transform: scale(100%);
    background-color: green;
    transform: rotat(0deg);
  }
  to {
    transform: scale(50%);
    transform: rotate(360deg);
  }
}

@keyframes color-change {
  0% {
    background-color: dark blue;
    transform: rotate(0deg);
  }
  50% {
    background-color: magenta;
  }

  100% {
    background-color: dark blue;
    transform: rotate(60deg);
  }
}
